.admincontent{
    
    width: 700px;
    height: 700px;
    margin: auto;
    background-color: aqua;
    
}

.adminname{
    
    line-height: 2;
    color: darkviolet;
    text-align: center;
    font-size: 25px;
    
}

#logoutbtn{
    
    width: 150px;
    height: 50px;
    margin-left: 275px;
    
    border: none;
    border-radius: 12px;
    
    color: white;
    background-color: darkviolet;
    
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}

#logoutbtn:hover{
    
    border: 2px solid darkviolet;
    background-color: transparent;
    color: darkviolet;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    
}

#changes{
    
    width: 292px;
    height: 50px;
    
    border: none;
    border-radius: 12px;
    
    color: white;
    background-color: darkviolet;
    
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    
}

#changes:hover{
    
    border: 2px solid darkviolet;
    background-color: transparent;
    color: darkviolet;
    
}

#addproduct{
    
    width: 200px;
    height: 50px;
    
    border: none;
    border-radius: 12px;
    
    color: white;
    background-color: darkviolet;
    
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    
}

#addproduct:hover{
    
    border: 2px solid darkviolet;
    background-color: transparent;
    color: darkviolet;
    
}

#adduser{
    
    width: 200px;
    height: 50px;
    
    border: none;
    border-radius: 15px;
    
    color: white;
    background-color: darkviolet;
    
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    
}

#adduser:hover{
    
    border: 2px solid darkviolet;
    background-color: transparent;
    color: darkviolet;
    
}

.change_name_password{
    
    width: 650px;
    height: 450px;
    background-color: white;
    margin-left: 25px;
    position: fixed;
    
}

.user{
    
    width: 650px;
    height: 450px;
    background-color: white;
    margin-left: 25px;
    position: fixed;
    
}

.product{
    
    width: 650px;
    height: 450px;
    background-color: white;
    margin-left: 25px;
    position: fixed;
    
}

.inputs{
    
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    
}

.inputs1{
    
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    
}

.inputs2{
    
    font-size: 25px;
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    
}

#changebtn{
    
    background-color: darkviolet;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

#changecontent{
    width: 350px;
}

#insertpid{
    width: 400px;
}

#removepid{
    width: 400px;
}

#username{
    width: 300px;
}

#userpswd{
    width: 300px;
}

#userrpswd{
    width: 300px;
}

#userpid{
    width: 300px;
}

#registerbtn{
    
    background-color: darkviolet;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

#removebtn{
    
    background-color: darkviolet;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}


#userbtn{
    
    background-color: darkviolet;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

